# created by build
# created by rpcgen
*.o
*.os
*.so
*.so.[0-9]*  
.last_hash
.scon*
/config.py
config.log
nc_check
nc_close
nc_server
nc_server.pc
nc_server_rpc.h
nc_server_rpc_clnt.c
nc_server_rpc_svc.c
nc_server_rpc_xdr.c
nc_shutdown
nc_sync
version.h
libnc_server_rpc.so.*
rpms.txt
/build/
etc/ld.so.conf.d/nc_server.conf
