[Unit]
Description=RPC server for writing to NetCDF files
After=rpcbind.service
Requires=rpcbind.service

[Service]
Type=forking
Environment=LANG=C PATH=/usr/bin:/opt/nc_server/bin
EnvironmentFile=/etc/default/nc_server

# Setting User and Group to env vars doesn't work.
# env vars are apparently not available when these are set:
# User=${NC_USER}
# Group=${NC_GROUP}

ExecStart=/opt/nc_server/bin/nc_server -z -u ${NC_USER} -g ${NC_GROUP} -p ${NC_PORT} -l ${NC_LOGLEVEL}

TimeoutStartSec=5
TimeoutStopSec=10

Restart=on-failure

RestartSec=5

KillMode=control-group

[Install]
WantedBy=multi-user.target

