[Unit]
Description=RPC server for writing to NetCDF files

[Service]
Type=forking
Environment=LANG=C PATH=/usr/bin:/opt/nc_server/bin

ExecStart=/opt/nc_server/bin/nc_server -z

TimeoutStartSec=5
TimeoutStopSec=10

Restart=on-failure

ExecStop=/bin/kill -TERM ${MAINPID}

KillMode=process

[Install]
WantedBy=default.target

